*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    font-family: 'Rubik Mono One', sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* header */
header{
    width: 100%;
    position: relative;
    z-index: 1000;
}
.container{
    width: 100%;
    position: fixed;
}
ul{
    position: absolute;
    right: 40px;
    top: 40px;
    z-index: 1000;
}
li, a {
    display: inline-block;
}
a{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    border-radius: 50%;
    margin: 10px;
}
a:hover{
    color: rgb(255, 255, 255);
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(4,5,6,0.7179914202008928) 39%); 
}
/* main */
.background, .background2, .background3{
    height: 100vh;
    background-size: cover;
    position: relative;
}
.background{
    background-color: rgb(255, 0, 0);
}
.background2{
    background-color: rgb(0, 248, 12);
}
.background3{
    background-color: rgb(235, 251, 0);
}
h2{
    font-size: 30px;
    color: rgb(243, 251, 0);
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.immagine1, .immagine2, .immagine3{
    width: 580px;
    height: 350px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.background3 :nth-child(2){
    color: green;
}
img{
    width: 100%;
    padding-bottom: 20px;
}