*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
    font-family: 'Rubik Mono One', sans-serif;
}
html{
    scroll-behavior: smooth;
}
/* header */
header{
    width: 100%;
    position: relative;
    z-index: 1000;
}
.container{
    width: 100%;
    position: fixed;
}
ul{
    position: absolute;
    right: 40px;
    top: 40px;
    z-index: 1000;
}
li, a {
    display: inline-block;
}
a{
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    border-radius: 50%;
    margin: 10px;
}
a:hover{
    color: rgb(255, 255, 255);
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(4,5,6,0.7179914202008928) 39%); 
}